<% if signed_in? %>
<% @user ||= current_user %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
		<section>
			<%= @user.firstname %>'s current friends: (<%= @user.friends.count %>)
			<section>
				<!--%= render 'shared/stats' %-->
				<% if @user.friends.any? %>
				<div class="user_avatars">
					<% @user.friends.each do |user| %>
					<%= render user %>
									<br/>
				<br/>

					<% end %>
				</div>
				<br/>
				<br/>
				<% end %>
			</section>

		</section>
		<br/>
		<br/>
		<br/>
		<br/>
		<div>
			Pending Friend Requests for <%= @user.name%>:
			<%= render 'users/follow_form' if signed_in? %>
			<!-- need to get this working with friend stuff-->
			<ul>
				<% @user.pending_invited_by.each do |requester| %>
				<%= render requester %>
				<br/>
				<br/>
				<%= button_to "Accept!", friend_path(requester.id), :method => :patch, class: "btn btn-small btn-primary"%>
				<%= button_to "Reject!", friend_path(requester.id), :method => :delete, class: "btn btn-small btn-primary" %>
				<% end %>
			</ul>

		</div>

	</aside>
	<div class="span8">

		<h3>Newsfeed</h3>
		<%= render 'shared/feed' %>
	</div>

</div>
<% else %>
<div class="center hero-unit">
	<h1>Welcome to FakeBook</h1>

	<h2> Welcome to FakeBook! </h2>

	<%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
	OR

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>
<% end %>