<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1> <%= gravatar_for @user %>
			User Profile for <%= @user.name %> 
			</h1>
		</section>
		<h2> Email:
		<br/>
		<%= @user.email%>
		<br/>
		<br/>
		<br/>
		Interests:
		<br/>
		<%= @user.interests%>
		<br/>
		<br/>
		<br/>
		Favorite Quotes:
		<br/>
		<%= @user.quotes%>
		<br/>
		<br/>
		<br/>
		About <%= @user.name%>:
		<br/>
		<%= @user.aboutyourself%> 
		</h2>
	</aside>
	<div class="span8">

	<% @microposts = my_feed @user %>
		<% if @microposts.any?%>
		<h3>Microposts (<%= @microposts.count %>)</h3>
		<ol class="microposts">
			<% @microposts.each do |micropost| %>
			  <%= gravatar_for micropost.user, size: 52 %>
  			  <%= link_to micropost.user.name, micropost.user %>

			<%= render micropost %>
			<% end %>
		<% end %>
			
		</ol>


	</div>
</div>