<% provide(:title, @user.name) %>
<div>
	<div id="globalContainer" class="uiContetualLayerParent">
		<div>
			<div id="mainContainer">
				<div id="leftCol">
					<aside class="span4">
						
						<section>
							<%= render 'shared/user_info' %>
						</section>
						
						<%= render :partial =>'shared/friend_request', :locals => {:user=> @user, :profile =>true} %>
						<% if @friends or current_user == @user %> 
						<br/>
						<br/>
						<br/>
						<br/>
						<div>
						<% if current_user == @user %>
							Pending Friend Requests for <%= @user.name%>:
							<!-- need to get this working with friend stuff-->
							<ul>
							<% @user.pending_invited_by.each do |requester| %>
								<%= render requester %>
								<br/>
								<br/>
								<%= button_to "Accept!", friend_path(requester.id), :method => :patch %>
            		<%= button_to "Reject!", friend_path(requester.id), :method => :delete %>
            	<% end %>
            	</ul>
						<% end %>
						</div>
						<br/>
						<br/>
						<br/>
						<br/>
						<div>
							Your current friends:
							<!-- need to get this working with friend stuff-->
							<ul>
								<% @user.friends.each do |friend| %>
								<%= render friend %>
							<% end %>
							</ul>
						</div>
						<% end %>
				</div>

				</h3></aside>
				<div id="contentCol" role="main">
					<!--div class="span8"-->
					<% if @microposts.any? %>
					<% @microposts = my_feed @user %>
					<% if @microposts.any?%>
					<h2><%= @user.name%>'s Wall (<%= @microposts.count %>)</h2>
					<ol class="microposts">
						<% @microposts.each do |micropost| %>
						<%= gravatar_for micropost.user, size: 52 %>
						<%= link_to micropost.user.name, micropost.user %>

						<%= render micropost %>
						<% end %>
						<% end %>

					</ol>
					<% end %>
					<br/>
					<br/>

					<section>
						Post something on <%= @user.name%>'s Wall:
						<!--%= render 'shared/micropost_form' %-->
					</section>

					<!--/div-->

				</div>
			</div>
		</div>
	</div>
