<%= link_to gravatar_for(@user, size: 68), @user %> <h1> <%= @user.name %> </h1>

<% if @user.name == current_user.name %>
<% else %>
<span> <%= link_to "view my profile", current_user %> </span>
<% end %>
<section>
<span> <%= pluralize(@user.microposts.count, "Status Update") %> </span>
<br/>
</section>
<section>
	<h3> Email:
	<br/>
	<%= @user.email%>
	<br/>
	<br/>
	<br/>
	Interests:
	<br/>
	<%= @user.interests%>
	<br/>
	<br/>
	<br/>
	Favorite Quotes:
	<br/>
	<%= @user.quotes%>
	<br/>
	<br/>
	<br/>
	About <%= @user.name%>:
	<br/>
	<%= @user.aboutyourself%>
</section>
<section>
	<!--%= render 'shared/stats' %-->
</section>
